/*
    common
*/
/*
@font-face {

}
*/
html {
    height: 100%;
}
body {
    background-image: url("../img/背景画像.jpg");
    position: relative;
    height: 100%;
}
.container {
    max-width: 1000px;
    padding-bottom: 4em;
    min-height: calc(90vh - 70px);
}
h1 {
    font-size: 3.5vw;
    text-align: center;
    padding: 0.5em;
    color: #e0c43b;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-weight: bold;
    font-style: italic;
}
footer {
    width: 100%;
    height: 50px;
}
.copyright {
    text-align: center;
}

/*
    index page
*/
.preview_img {
    text-align: center;
    margin: 20px auto;
}
.preview_img img {
    border-radius: 1em;
    height: 20em;
    background-color: white;
}

/*
    result page
*/
.result_img {
    text-align: center;
    margin: 20px auto;
}
.result_img img {
    border-radius: 1em;
    height: 20em;
}
.result {
    font-size: 36px;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 0.5em;
}
