/*
    common
*/
html {
    height: 100%;
}
body {
    background-image: url("../img/背景画像.jpg");
    position: relative;
    height: 100%;
}
.container {
    width: 100%;
    max-width: 960px;
    padding-bottom: 4em;
    min-height: calc(90vh - 70px);
    padding-right: 10px;
    padding-left: 10px;
}
h1 {
    font-size: 3.2vw;
    text-align: center;
    padding: 0.5em;
    color: #e0c43b;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-weight: bold;
    font-style: italic;
}
footer {
    width: 100%;
    height: 50px;
}
.copyright {
    text-align: center;
}

/*
    index page
*/
.preview_img {
    text-align: center;
    margin: 20px auto;
}
.preview_img img {
    border-radius: 1em;
    height: 20em;
}

/*
    result page
*/
.result_img {
    text-align: center;
    margin: 20px auto;
}
.result_img img {
    border-radius: 1em;
    height: 20em;
}
.result {
    font-size: 36px;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 0.5em;
}

/** chart **/
$size: 200px;
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}
